name: Docker build
on:
  workflow_dispatch:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  schedule:
    - cron: '0 2 * * *'
jobs:
  space_robots:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up buildx
        uses: docker/setup-buildx-action@v1
      - name: Build space robots demo image
        uses: docker/build-push-action@v2
        with:
          context: space_robots
          push: false
          tags: space_robots
          cache-from: type=gha
          cache-to: type=gha,mode=max
          no-cache: true
